.Project{
    width: 955px;
    // margin-right: 128px;
    margin-bottom: 50px;
    .Tittle-active{
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.0025em;
        margin-bottom: 15px;
    }
    .Tittle-none{
        display: none;
    }
    .ImagesProject{
        margin-bottom: 13px;
        width: 955px;
        justify-content: space-between;
        .ImagePrincipal{
            width: 738px;
            height: 661px;
        }
        .ImagesProjectColumn{
            justify-content: space-between;
        }
    }
    .TitleProject{
        align-items: baseline;
        justify-content: space-between;
        font-style: normal;
        h3{
            font-size: 24px;
            line-height: 28px;
            display: flex;
            align-items: center;
        }
        .buttonProject{
            width: 197px;
            height: 54px;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.0015em;
            border: 1px solid #606999;
            color: #606999;
            text-decoration: none;
        }
    }
    .DescriptionProject{
        width: 100%;
        margin-top: 25px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.0015em;
    }
}
.ProjectMargin{
    margin-right: 128px;
}