.Navbar{
    border-bottom: 2px solid #979797;
    height: 64px;
    justify-content: space-between;
    padding: 8px 17px 8px 17px;
    .LogoContain{
        margin-right: 40px;
        .logo{
            color: #000;
            width:148px;
            height:100%;
        }
    }
    .search{
        color: #979797;
        button{
            border: 0;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
            .icon{
                margin-right: 7px;
                color: #979797;
                width: 15px;
                height: 15px;
            }
        }
        input{
            height: 21px;
            width: 214px;
            border: 0px;
        }
        input::placeholder{
            color: #979797; 
            font-style: normal;
            font-weight: 400;
            font-size: 13.8053px;
            line-height: 21px;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }
    .itemsMenu{
        list-style: none;
        display: flex;
        .itemM{
            margin-right: 20px;
            height: 48px;
            width: 89px;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.0015em;
            text-decoration: none;
            &:hover{
                color: #606999;
            }
        }
        .colorSelect{
            color:#606999;
        }
    }
    .iconMenu{
        color: #1C1B1F;
        width: 18px;
        margin-right: 12px;
    }
}
.Navbar-none{
    display: none;
}