.sigin{
    .imgSigin{
        width: 66.7%;
        img{
            // width: 100%;
            // height: 100%;
        }
    }
    .textSigin{
        width: 33.3%;
        .textSiginInt{
            margin-left: 89px;
            h2{
                font-style: normal;
                font-size: 48px;
                font-weight: 700;
                line-height: 56px;
                margin: 122px 135px 0px 0px;
            }
            p.font-w-400{
                margin: 16px 88px 0px 0px;
                font-size: 20px;
            }
            .formSigin{
                margin-top: 54px;
                button.white-button{
                    width: 70%
                }
                .divCheckbox{
                    margin-top: 17px;
                    width: 70%;
                    .checkbox{
                        border: 1px solid #606999;
                        border-radius: 4px;
                        margin-right: 6px;
                        margin-top: 0px;
                        align-content:flex-start;
                        width: 16px;
                        height: 16px;
                    }
                    .checkboxLabel{
                        font-size: 12px;
                        span{
                            color: #606999;
                        }
                    }
                }
                .finishSigin.d-flex-center.d-flex-column.font-w-400{
                    margin-top: 32px;
                    margin-bottom: 105px;
                    width: 70%;
                    font-size: 16px;
                    p{
                        margin-top: 10px;
                        font-weight: 700;
                        a.principal-color{
                            text-decoration: none;
                        }
                    }
                }
                
            }
        }
    }
    
}
